<div class="short_term__layer_home_event_freepass" id="shortTermLayerHomeEventFreepass">
    <div class="wrapper">
        <div class="content">
            <a href="https://goo.gl/Y5mel4" target="_blank"><img src="/static/images/home/popup/short_term_img_layer_home_event_freepass_content.png" alt="" /></a>

            <div class="function">
                <button type="button" class="button dayclose">오늘 다시 보지 않기</button>
                <button type="button" class="button close">닫기</button>
            </div>

        </div>
    </div>
</div>