<div class="space_bbs__write">

    <h3 class="space_bbs__write__headline">글쓰기</h3>

    <div class="space_bbs__write__board">

        <form action="" name="spaceBbsWriteBoardForm">
            <fieldset>
                <legend>게시글 쓰기</legend>
                <input type="hidden" value="{{ userId }}" name="user_info_id" />

                <div class="space_bbs__write__board__headline">

                    <div class="items">
                        <span class="label">게시판 선택</span>
                        <div class="value">

                            <select name="space_type" id="space_type">
                                {{#category}}
                                    <option value="{{num}}" {{#spaceSelect}}{{/spaceSelect}}>{{string}}</option>
                                {{/category}}
                            </select>

                            {{#isAdmin}}
                                <input name="is_notice" type="checkbox" id="handlerNoticeRegister" />
                                <label for="handlerNoticeRegister"><span>공지로 등록</span></label>
                            {{/isAdmin}}

                        </div>
                    </div>

                    <div class="items">
                        <span class="label">제목</span>
                        <div class="value">
                            <input type="text" class="text" name="subject" placeholder="제목을 입력해 주세요."/>
                        </div>
                    </div>

                </div>

                <div class="space_bbs__write__board__content">
                    <textarea class="contents" name="description" placeholder="글의 내용을 입력해 주세요."></textarea>
                    <iframe id="form_target" name="form_target" style="display:none"></iframe>

                </div>

                <div name="filediv" style="margin-top:10px;">
                    <button type="button" style="font-size:13px">원본파일 : <a href="" target="_blank"></a></button>
                    <input type="file" name="file" id="uploadFile" style="font-size:13px"/>
                    <input type="hidden" name="fileid" id="fileid"/>
                </div>

                <div class="space_bbs__write__board__function" id="spaceBbsWriteBoardFunction">
                    <button type="button" class="modify" id="spaceBbsWriteBoardFunctionSubmit">
                        <span><img src="/static/images/space/button_modify.png" alt="수정하기"/></span>
                    </button>

                    <div class="float_function">
                        <a href="{{ listUrl }}" class="list">
                            <span><img src="/static/images/space/button_list.png" alt="목록으로 이동"/></span>
                        </a>
                    </div>

                </div>

            </fieldset>
        </form>

    </div>

</div>
