<div>
<p>*여러분의 생생하고 자세한 합격후기를 들려주세요!</p>
<p>*후기 작성 시 [무료 강의 수강권], [무료 자료 이용권], [강의 할인쿠폰] 등 다양한 혜택을 모두 드립니다! (자세한 내용은 공지글을 참고해주세요)</p>
<p>*후기 작성 혜택은 매일 오전 11:00에 일괄 지급됩니다. (주말 및 공휴일 제외)</p>
<p><span class="hilitecolor" style="background-color: #ccffff;"><a href="59?space_type=2&page=1&notice=false"><u>★</u><u>후기 작성 전 필독사항(클릭)</u></a></span></p>
<p>&nbsp;</p>
<p><span class="bold">1. 합격을 축하드립니다! 인적성 합격한 기업명과, 직무를 알려주세요</span><br />(2개 이상일 경우, 모두 적어주세요!)</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span class="bold">2. 간단한 자기소개 및 스펙을 알려주세요</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span class="bold">3. 인적성 준비 시, 가장 힘들었던 점은 무엇이었나요?</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span class="bold">4. 인적성 준비 기간을 알려주세요</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span class="bold">5. 인적성 준비 시, 도움이 되었던 위포트 컨텐츠는 무엇이었나요?</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span class="bold">6. 어떤 내용이 도움이 되었나요? (3줄 이상 자세히 작성해주세요)</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>■ 합격 통보를 받은 내용을 사진으로 첨부해주세요</p>
<p><br />*합격 여부 확인을 위한 과정이며, 다른 용도로 활용되지 않습니다.</p>
<p>*첨부 파일에는 [합격 기업명 + 본인 이름]이 반드시 드러나야 합니다.</p>
<p>*첨부 파일은 보안 유지되며, 관리자를 제외한 회원분들은 첨부파일을 열람할 수 없습니다.</p>
<p>*성의 없는 후기 작성 시, 혜택 지급이 어려울 수 있습니다.&nbsp;</p>
<p>비방, 광고성, 도배 등 게시판 의도와 맞지 않는 게시물은 삭제될 수 있습니다.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>