{{#items}}
<li>
    <a href="{{ link }}" title="{{ subject }}" target="_blank">
        <span class="image"><img class="wm_book" src="{{ image }}" alt="{{ subject }}"></span>
        <span class="subject wm_book">{{ subject }}</span>
        <span class="writer wm_book">{{ writer }}</span>
    </a>
</li>
{{/items}}