<div class="teacher_list__contents">
    {{#groups}}
        {{#current}}
            <h3 class="teacher_list__contents__headline"><span>{{name}}</span></h3>

            <div class="teacher_list__contents__column">
                {{#teachers}}
                <div class="teacher_list__contents__column__items">
                    <div class="teacher_list__contents__column__items__info">
                        <a href="{{link}}" class="link">
                            {{#image}}
                            <span class="image">
                                <img src="{{image}}" alt="" />
                            </span>
                            {{/image}}
                            {{^image}}
                            <span class="no_image">
                                이미지가 없습니다
                            </span>
                            {{/image}}
                            </span>
                            <em class="description">
                                <span class="wrapper">
                                    <span>{{{description}}}</span>
                                </span>
                            </em>
                        </a>
                    </div>

                    <div class="teacher_list__contents__column__items__relation">

                        <a href="{{reviewLink}}" class="review">후기</a>
                        <a href="{{lectureLink}}" class="lecture">대표강좌</a>
                        {{#consultLink}}<a href="{{consultLink}}" class="consult">컨설팅</a>{{/consultLink}}
                        <a href="{{freeConsultLink}}" class="freeconsult" target="_blank">1:1무료상담</a>

                    </div>

                </div>
                {{/teachers}}
                {{^teachers}}
                <div class="teacher_list__contents__column__noresult">결과가 없습니다.</div>
                {{/teachers}}

            </div>
        {{/current}}

    {{/groups}}
</div>