<div class="teacher_list__menu">
    <ul class="list">

        {{#groups.all}}
        <li {{#current}}class="active"{{/current}}><a href="{{link}}"><span>{{name}}</span></a></li>
        {{/groups.all}}

        {{#groups}}
            <li {{#current}}class="active"{{/current}}><a href="{{link}}"><span>{{name}}</span></a></li>
        {{/groups}}

    </ul>
</div>
