<div class="lecture_detail_view_body__contents__review_list">
{{#items.length}}
    {{#items}}

    <div class="lecture_detail_view_body__contents__review_list__column">

        <div class="headline">
            <span class="stars">
                {{#convertScoreImage}}
                    {{score}}
                {{/convertScoreImage}}
            </span>
            <span class="id">
                {{#nameReduce}}
                    {{ username }}
                {{/nameReduce}}
            </span>
            <span class="col">|</span>
            <span class="date">{{ create_at }}</span>
        </div>

        <div class="body">
            {{#category}}<p class="category">[{{{ category }}}]</p>{{/category}}
            <p class="subject">{{{ subject }}}</p>
            <p class="content">{{{ description }}}</p>
        </div>

    </div>

    {{/items}}
{{/items.length}}

{{^items.length}}
    <div class="is_not_result">
        <p>등록된 후기가 없습니다.</p>
    </div>
{{/items.length}}
</div>