<style>
.space_bbs__view__etc_function .attachfile {
    margin-right: 12px;
    float: left;
    vertical-align: top;
    border: 1px solid #dddddd;
    line-height: 28px;
    padding: 0 10px;
    font-size: 16px;
    color: #414141;
}
</style>
<div class="space_bbs__view">

    <div class="space_bbs__view__function">
        {{#is_owner}}<a href="{{#modifyUrl}}{{/modifyUrl}}" class="modify"><span><img src="/static/images/space/button_modify.png" alt="수정"/></span></a>{{/is_owner}}
        {{#is_admin}}
            <button type="button" class="delete"><span><img src="/static/images/space/button_delete.png" alt="삭제"/></span></button>
        {{/is_admin}}
        {{^is_admin}}
            {{#is_owner}}<button type="button" class="delete"><span><img src="/static/images/space/button_delete.png" alt="삭제"/></span></button>{{/is_owner}}
        {{/is_admin}}
        <a href="{{writeUrl}}" class="write"><span><img src="/static/images/space/button_write.png" alt="글쓰기"/></span></a>
        {{#next_id}}<a href="{{#sideViewUrl}}{{/sideViewUrl}}" class="move_next"><span><img src="/static/images/space/button_move_next.png" alt="다음글"/></span></a>{{/next_id}}
        {{#previous_id}}<a href="{{#sideViewUrl}}{{/sideViewUrl}}" class="move_prev"><span><img src="/static/images/space/button_move_prev.png" alt="이전글"/></span></a>{{/previous_id}}
        <a href="{{listUrl}}" class="move_list"><span><img src="/static/images/space/button_list.png" alt="목록으로"/></span></a>
    </div>

    {{#items}}
    <h3 class="space_bbs__view__headline">{{space_type.display}} 게시판</h3>

    <div class="space_bbs__view__board">

        <div class="space_bbs__view__board__headline">

            <div class="crumbs">
                <span class="date">ID: {{id}}</span>
                <span class="date">작성일: {{#dateFormat}}created_at{{/dateFormat}}</span>
                <span class="write">작성자: {{#user_info.is_admin}}
                            {{user_info.name}}
                            {{/user_info.is_admin}}
                            {{^user_info.is_admin}}
                            {{user_info.hidden_name}}
                            {{/user_info.is_admin}}</span>
                <span class="recommend">추천: {{space_recommend.count}}</span>
                <span class="view">조회: {{publish_view_count}}</span>
            </div>

            <h3 class="title">
                {{subject}}
                {{#space_comment.count}}<span class="comment_count">[<span id="commentCount">{{space_comment.count}}</span>]</span>{{/space_comment.count}}
            </h3>

        </div>
        <div class="space_bbs__view__etc_function" style="margin-top:12px;float:right;">
            {{#items.attach_file}}
                <button type="button" class="attachfile">
                <a href="{{attach_file.url}}" target="_blank">첨부파일</a></button>
            {{/items.attach_file}}
            <button type="button" class="recommend {{#is_recommend}}active{{/is_recommend}}" data-is-recommend="{{is_recommend}}"><span>추천하기 <em class="count">{{space_recommend.count}}</em></span></button>
            <button type="button" class="copyurl"><span>링크복사</span></button>
        </div>

        <div class="space_bbs__view__board__content">
            <div class="text">{{{description}}}</div>
        </div>

        <div style="text-align:center;margin-top:10px;margin-bottom:20px;">
        <img src="/static/images/space/board_notice.png" alt="저작권"/>
        </div>
    </div>
    <div class="space_bbs__view__comment" id="spaceBbsViewComment"></div>
    {{/items}}

    <div class="space_bbs__view__function space_bbs__view__function--bottom">
        {{#is_owner}}<a href="{{#modifyUrl}}{{/modifyUrl}}" class="modify"><span><img src="/static/images/space/button_modify.png" alt="수정"/></span></a>{{/is_owner}}
        {{#is_admin}}
            <button type="button" class="delete"><span><img src="/static/images/space/button_delete.png" alt="삭제"/></span></button>
        {{/is_admin}}
        {{^is_admin}}
            {{#is_owner}}<button type="button" class="delete"><span><img src="/static/images/space/button_delete.png" alt="삭제"/></span></button>{{/is_owner}}
        {{/is_admin}}
        <a href="{{writeUrl}}" class="write"><span><img src="/static/images/space/button_write.png" alt="글쓰기"/></span></a>
        {{#next_id}}<a href="{{#sideViewUrl}}{{/sideViewUrl}}" class="move_next"><span><img src="/static/images/space/button_move_next.png" alt="다음글"/></span></a>{{/next_id}}
        {{#previous_id}}<a href="{{#sideViewUrl}}{{/sideViewUrl}}" class="move_prev"><span><img src="/static/images/space/button_move_prev.png" alt="이전글"/></span></a>{{/previous_id}}
        <a href="{{listUrl}}" class="move_list"><span><img src="/static/images/space/button_list.png" alt="목록으로"/></span></a>
    </div>

</div>

