
<div class="space_bbs__list" id="spacebbsContents{{ space_type }}"
     data-param-limit="{{params.limit}}"
     data-param-ordering="{{params.ordering}}"
     data-param-space_type="{{params.space_type}}"
>

    {{#is_admin}}
    <form action="">
        <fieldset>
            <legend>게시판 기능</legend>

            <div class="space_bbs__list__function">

                <div class="side_left">
                    <a href="{{ writeUrl }}" class="write"><span><img src="/static/images/space/button_write.png" alt="글쓰기" /></span></a>
                    <a href="/v1/space/spaces/comments/detail" class="delete"><span><img src="/static/images/space/button_delete.png" alt="글삭제" /></span></a>
                    <button type="button" class="policy" data-policy-status="true"><span><img src="/static/images/space/button_policy_open.png" alt="공개" /></span></button>
                    <button type="button" class="policy" data-policy-status="false"><span><img src="/static/images/space/button_policy_close.png" alt="비공개" /></span></button>
                </div>

                <div class="side_right">

                    <div class="items">
                        <span class="label">상태</span>
                        <select name="status_policy" class="status_policy">
                            <option value="" {{#has_policy_all}}selected="selected"{{/has_policy_all}}>전체보기</option>
                            <option value="true" {{#has_policy_public}}selected="selected"{{/has_policy_public}}>공개</option>
                            <option value="false" {{#has_policy_private}}selected="selected"{{/has_policy_private}}>비공개</option>
                        </select>
                    </div>

                    <div class="items">
                        <input type="checkbox" class="handler_notice_render" id="handlerNoticeRender_{{ space_type }}" />
                        <label for="handlerNoticeRender_{{ space_type }}"><span>공지 숨김</span></label>
                    </div>

                </div>

            </div>
        </fieldset>

        <fieldset>
            <legend>게시판 목록</legend>
            <div class="space_bbs__list__board" id="spaceBbsListBoard{{ space_type }}">
                <table>
                    <colgroup>
                        <col width="5%" />
                        <col width="7%" />
                        <col width="*" />
                        <col width="7%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="7%" />
                        <col width="7%" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col" class="checkbox"><input type="checkbox" /></th>
                        <th scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">상태</th>
                        <th scope="col">작성자</th>
                        <th scope="col">작성일</th>
                        <th scope="col">조회</th>
                        <th scope="col">추천</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#notice.length}}
                        {{#notice}}
                           <tr class="notice {{#is_public}} is_public{{/is_public}}{{^is_public}} is_private{{/is_public}}">
                                <td class="checkbox"><input type="checkbox" name="board_{{ pageId }}_{{id}}" data-id="{{id}}" data-subject="{{subject}}" /></td>
                                <td class="no"><img src="/static/images/space/ico_notice.png" /></td>
                                <td class="subject">
                                    <a href="{{#viewUrl}}id{{/viewUrl}}">
                                        <span class="subject">{{subject}}</span>
                                        {{#space_comment.count}}<span class="comment_count">[{{space_comment.count}}]</span>{{/space_comment.count}}
                                        {{#images.length}}<span class="clip"><img src="/static/images/space/ico_clip.png" alt="" /></span>{{/images.length}}
                                    </a>
                                </td>
                                <td class="status">{{#isPublicText}}is_public{{/isPublicText}}</td>
                                <td class="id">{{user_info.name}}</td>
                                <td class="date">{{#dateFormat}}created_at{{/dateFormat}}</td>
                                <td class="view">{{publish_view_count}}</td>
                                <td class="recommend">{{space_recommend.count}}</td>
                            </tr>
                        {{/notice}}
                    {{/notice.length}}

                    {{#recommend.length}}
                       {{#recommend}}
                           <tr class="recommend {{#is_public}} is_public{{/is_public}}{{^is_public}} is_private{{/is_public}}">
                                <td class="checkbox"><input type="checkbox" name="board_{{ pageId }}_{{id}}" data-id="{{id}}" data-subject="{{subject}}" /></td>
                                <td class="no"><img src="/static/images/space/ico_recommend.png" /></td>
                                <td class="subject">
                                    <a href="{{#viewUrl}}id{{/viewUrl}}">
                                        <span class="subject">{{subject}}</span>
                                        {{#space_comment.count}}<span class="comment_count">[{{space_comment.count}}]</span>{{/space_comment.count}}
                                        {{#images.length}}<span class="clip"><img src="/static/images/space/ico_clip.png" alt="" /></span>{{/images.length}}
                                    </a>
                                </td>
                                <td class="status">{{#isPublicText}}is_public{{/isPublicText}}</td>
                                <td class="id">{{user_info.name}}</td>
                                <td class="date">{{#dateFormat}}created_at{{/dateFormat}}</td>
                                <td class="view">{{publish_view_count}}</td>
                                <td class="recommend">{{space_recommend.count}}</td>
                            </tr>
                        {{/recommend}}
                    {{/recommend.length}}

                    {{#items.length}}
                        {{#items}}
                        <tr class="{{#is_notice}} has_notice{{/is_notice}}{{#is_public}} is_public{{/is_public}}{{^is_public}} is_private{{/is_public}}">
                            <td class="checkbox"><input type="checkbox" name="board_{{ pageId }}_{{id}}" data-id="{{id}}" data-subject="{{subject}}" /></td>
                            <td class="no">{{id}}</td>
                            <td class="subject">
                                <a href="{{#viewUrl}}id{{/viewUrl}}">
                                    <span class="subject">{{#is_notice}}<em>[공지]</em>{{/is_notice}}{{subject}}</span>
                                    {{#space_comment.count}}<span class="comment_count">[{{space_comment.count}}]</span>{{/space_comment.count}}
                                    {{#images.length}}<span class="clip"><img src="/static/images/space/ico_clip.png" alt="" /></span>{{/images.length}}
                                </a>
                            </td>
                            <td class="status">{{#isPublicText}}is_public{{/isPublicText}}</td>
                            <td class="id">{{user_info.name}}</td>
                            <td class="date">{{#dateFormat}}created_at{{/dateFormat}}</td>
                            <td class="view">{{publish_view_count}}</td>
                            <td class="recommend">{{space_recommend.count}}</td>
                        </tr>
                        {{/items}}
                    {{/items.length}}
                    {{^items.length}}
                        <tr class="no_result">
                            <td colspan="8">등록된 글이 없습니다.</td>
                        </tr>
                    {{/items.length}}
                    </tbody>
                </table>

                <div class="function">

                    <div class="group">
                        <a href="/v1/space/spaces/comments/detail" class="delete"><span><img src="/static/images/space/button_delete.png" alt="삭제" /></span></a>
                        <a href="{{ writeUrl }}" class="write"><span><img src="/static/images/space/button_write.png" alt="글쓰기" /></span></a>
                    </div>

                    {{#isPaging}}
                    <div class="paging" id="spaceBbsListBoardPaging{{ space_type }}">
                        <button type="button" class="prev"><span><img src="/static/images/space/paging_btn_prev.png" alt="앞페이지" /></span></button>
                        <ul class="list">
                            {{#pagingArray}}
                            <li class="{{#currentPage}}active{{/currentPage}}"><a href="/v1/space/spaces/list?limit=10&offset={{ offset }}&ordering=-id&space_type=1" data-id="{{count}}"><span>{{ count }}</span></a></li>
                            {{/pagingArray}}
                        </ul>
                        <button type="button" class="next"><span><img src="/static/images/space/paging_btn_next.png" alt="뒤페이지" /></span></button>
                    </div>
                    {{/isPaging}}

                </div>

                <div class="searchfield" data-space-type="{{ space_type }}">

                    <select name="searchfield_type">
                        <option value="subject_description">제목+본문</option>
                        <option value="subject">제목만</option>
                        <option value="description">본문만</option>
                        <option value="name">작성자</option>
                    </select>

                    <div class="input_zone">
                        <input type="text" name="search_keyword" value="{{params.search_keyword}}" />
                        <button type="submit" value="검색" class="submit"><span><img src="/static/images/space/search_btn_zoom.png" alt="검색하기" /></span></button>
                    </div>

                </div>

            </div>

        </fieldset>
    </form>
    {{/is_admin}}
    {{^is_admin}}
     <form action="">
        <fieldset>
            <legend>게시판 기능</legend>

            <div class="space_bbs__list__function">

                <div class="side_left">
                    <a href="{{ writeUrl }}"><span><img src="/static/images/space/button_write.png" alt="글쓰기" /></span></a>
                    {{#is_owner}}<a href="/v1/space/spaces/comments/detail" class="delete"><span><img src="/static/images/space/button_delete.png" alt="글삭제" /></span></a>{{/is_owner}}
                </div>

                <div class="side_right">

                    <div class="items">
                        <input type="checkbox" class="handler_notice_render" id="handlerNoticeRender_{{ space_type }}" />
                        <label for="handlerNoticeRender_{{ space_type }}"><span>공지 숨김</span></label>
                    </div>

                </div>

            </div>
        </fieldset>

        <fieldset>
            <legend>게시판 목록</legend>
            <div class="space_bbs__list__board" id="spaceBbsListBoard{{ space_type }}">
                <table>
                    <colgroup>
                        <col width="7%" />
                        <col width="*" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="7%" />
                        <col width="7%" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                        <th scope="col">작성일</th>
                        <th scope="col">조회</th>
                        <th scope="col">추천</th>
                    </tr>
                    </thead>
                    <tbody>
                   {{#notice.length}}
                        {{#notice}}
                           <tr class="notice">
                                <td class="no"><img src="/static/images/space/ico_notice.png" /></td>
                                <td class="subject">
                                    <a href="{{#viewUrl}}id{{/viewUrl}}">
                                        <span class="subject">{{subject}}</span>
                                        {{#images.length}}<span class="clip"><img src="/static/images/space/ico_clip.png" alt="" /></span>{{/images.length}}
                                    </a>
                                </td>
                                <td class="id">{{user_info.name}}</td>
                                <td class="date">{{#dateFormat}}created_at{{/dateFormat}}</td>
                                <td class="view">{{publish_view_count}}</td>
                                <td class="recommend">{{space_recommend.count}}</td>
                            </tr>
                        {{/notice}}
                    {{/notice.length}}

                    {{#recommend.length}}
                       {{#recommend}}
                           <tr class="recommend">
                                <td class="no"><img src="/static/images/space/ico_recommend.png" /></td>
                                <td class="subject">
                                    <a href="{{#viewUrl}}id{{/viewUrl}}">
                                        <span class="subject">{{subject}}</span>
                                        {{#images.length}}<span class="clip"><img src="/static/images/space/ico_clip.png" alt="" /></span>{{/images.length}}
                                    </a>
                                </td>
                                <td class="id">{{#user_info.is_admin}}
                            {{user_info.name}}
                            {{/user_info.is_admin}}
                            {{^user_info.is_admin}}
                            {{user_info.hidden_name}}
                            {{/user_info.is_admin}}</td>
                                <td class="date">{{#dateFormat}}created_at{{/dateFormat}}</td>
                                <td class="view">{{publish_view_count}}</td>
                                <td class="recommend">{{space_recommend.count}}</td>
                            </tr>
                        {{/recommend}}
                    {{/recommend.length}}

                    {{#items.length}}
                        {{#items}}
                        <tr>
                            <td class="no">{{id}}</td>
                            <td class="subject">
                                <a href="{{#viewUrl}}id{{/viewUrl}}">
                                    <span class="subject">{{subject}}</span>
                                    {{#images.length}}<span class="clip"><img src="/static/images/space/ico_clip.png" alt="" /></span>{{/images.length}}
                                </a>
                            </td>
                            <td class="id">{{#user_info.is_admin}}
                            {{user_info.name}}
                            {{/user_info.is_admin}}
                            {{^user_info.is_admin}}
                            {{user_info.hidden_name}}
                            {{/user_info.is_admin}}</td>
                            <td class="date">{{#dateFormat}}created_at{{/dateFormat}}</td>
                            <td class="view">{{publish_view_count}}</td>
                            <td class="recommend">{{space_recommend.count}}</td>
                        </tr>
                        {{/items}}
                    {{/items.length}}
                    {{^items.length}}
                        <tr class="no_result">
                            <td colspan="8">등록된 글이 없습니다.</td>
                        </tr>
                    {{/items.length}}
                    </tbody>
                </table>

                <div class="function">

                    <div class="group">
                        {{#is_owner}}<a href="/v1/space/spaces/comments/detail" class="delete"><span><img src="/static/images/space/button_delete.png" alt="삭제" /></span></a>{{/is_owner}}
                        <a href="{{ writeUrl }}" class="write"><span><img src="/static/images/space/button_write.png" alt="글쓰기" /></span></a>
                    </div>

                    {{#isPaging}}
                    <div class="paging" id="spaceBbsListBoardPaging{{ space_type }}">
                        <button type="button" class="prev"><span><img src="/static/images/space/paging_btn_prev.png" alt="앞페이지" /></span></button>
                        <ul class="list">
                            {{#pagingArray}}
                            <li class="{{#currentPage}}active{{/currentPage}}"><a href="/v1/space/spaces/list?limit=10&offset={{ offset }}&ordering=-id&space_type=1" data-id="{{count}}"><span>{{ count }}</span></a></li>
                            {{/pagingArray}}
                        </ul>
                        <button type="button" class="next"><span><img src="/static/images/space/paging_btn_next.png" alt="뒤페이지" /></span></button>
                    </div>
                    {{/isPaging}}

                </div>

                <div class="searchfield" data-space-type="{{ space_type }}">

                    <select name="searchfield_type">
                        <option value="subject_description">제목+본문</option>
                        <option value="subject">제목만</option>
                        <option value="description">본문만</option>
                        <option value="name">작성자</option>
                    </select>

                    <div class="input_zone">
                        <input type="text" name="search_keyword" value="{{params.search_keyword}}"/>
                        <button type="submit" value="검색" class="submit"><span><img src="/static/images/space/search_btn_zoom.png" alt="검색하기" /></span></button>
                    </div>

                </div>

            </div>

        </fieldset>
    </form>
    {{/is_admin}}

</div>
